/TollRoadMain/nbproject/private/
*.xml
TollRoadMain/nbproject/genfiles.properties
TollRoadMain/nbproject/project.properties
TollRoadMain/manifest.mf
*.vsdx
*.~vsdx
/TollRoadMain/build/
*.cdg
UMLDiagrams/umlproject
